.Home {
    width: 95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #444;
}

.eventos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.evento, .slide {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #fff;
}

.evento h2, .slide h2 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.evento .descripcion {
    font-style: italic;
}

button {
    background-color: rgb(228, 164, 45);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(180, 130, 36);
}

.contenedor-carrusel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carrusel {
    display: flex;
    align-items: center;
    position: relative;
}

.contenedor-slide {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 98%;
}

.slide {
    flex: 0 0 calc(33.33% - 40px);
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f8f8f8;
    padding: 1rem;
    margin: 0 0.4rem;
    border-radius: 8px;
}

.flecha-izquierda, .flecha-derecha {
    background: rgb(155, 107, 18);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.flecha-izquierda {
    margin-right: 6px;
}

.flecha-derecha {
    margin-left: 6px;
}

.flecha-derecha:hover, .flecha-izquierda:hover {
    background: #6800b3;
}

@media(min-width: 768px){
    .slide { min-width: 50%; }
}

@media(min-width: 1024px){
    .slide { min-width: 33.33%; }
}
