.HeaderAdministrador {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #659992;
    padding: 6px;
    border: 2.5px solid #000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navigationAdministrador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  padding: 0 3em;
}

.btn-cerrar-sesion {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

@media (max-width: 1060px) {
  .HeaderAdministrador {
    font-size: 8px;
    padding: 3px;
  }
  .navigationAdministrador {
    flex-direction: column;
    align-items: stretch;
    padding: 0 1em;
  }
  .navigationAdministrador .logo { 
    display: inline-block;
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
  .navigationAdministrador .logo img {
    width: 32px;
    height: auto;
  }
}

@media (max-width: 420px) {
}