.Header {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #659992;
    padding: 6px;
    border: 2.5px solid #000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: url('../images/headerwallpaper.jpg');
    background-size: 100%; /* Ajusta la imagen para cubrir todo el header */
    background-position: center; /* Centra la imagen */
    height: 65px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  padding: 0 3em;
}

.search-acc {
  display: flex;
  align-items: center;
  gap: 10px;
}

#btnAcceder {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 2px 16px;
  transition: all 0.25s linear;
  border-radius: 7px;
  border: 2px solid #000;
  background-color: rgb(228, 164, 45);
  white-space: nowrap;
}

.navigation form {
  display: flex;
  align-items: stretch;
  height: 30px;
}

.navigation .label-categories {
  color: rgb(228, 164, 45);
  font-size: 14px;
}

.navigation .select-categories {
  font-size: 14px;
  padding: 0 8px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  width: 15vw;
  cursor: pointer;
}

.navigation .select-categories option {
  padding: 5px 10px;
  background-color: #fff; 
  color: #000;
}

.navigation form input[type="search"] {
  font-size: 14px;
  padding: 0 8px;
  border: 2px solid #000;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 30vw;
}

.navigation form input[type="submit"] {
  font-size: 14px;
  border: 2px solid #000;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(197, 207, 209);
  cursor: pointer;
  padding: 0 8px;
}

.navigation form input[type="submit"]:hover {
  background-color: rgb(144, 177, 214);
  transition: all 0.25s linear;
}

.btn-cerrar-sesion {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

@media (max-width: 1060px) {
  .Header {
    font-size: 8px;
    padding: 3px;
  }
  .navigation {
    flex-direction: column;
    align-items: stretch;
    padding: 0 1em;
  }
  .navigation .logo { 
    display: inline-block;
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
  .navigation .logo img {
    width: 32px;
    height: auto;
  }
  .navigation ul {
    gap: 2px;
    padding: 0;
    margin: 0;
    font-size: 3px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  .navigation ul.show {
    gap: 2px;
    padding: 0;
    margin: 0;
    font-size: 3px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  .navigation ul li a, .navigation ul li select  {
    font-size: 12px;
    padding: 2px 8px;
  }
  .navigation form {
    margin-top: 5px;
    margin-bottom: 2px;
    height: 25px;
    justify-content: center;
    width: 100%;
    display: flex;
  }
}

@media (max-width: 420px) {
  .navigation .menu-icon {
    display: block;
    cursor: pointer;
  }
  .navigation ul {
    margin-bottom: 5px;
    flex-wrap: wrap;
    justify-content: center;
    display: none; 
  }
  .navigation ul.show {
    flex-wrap: wrap;
    justify-content: center;
    display: block; 
  }
  .navigation ul li {
    margin-bottom: 3px;
  }
}