.HeaderAdministrador {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #659992;
    padding: 6px;
    border: 2.5px solid #000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: url('../images/headerwallpaper.jpg');
    background-size: 100%; /* Ajusta la imagen para cubrir todo el header */
    background-position: center; /* Centra la imagen */
    height: 65px;
    color: rgb(228, 164, 45);
}

.navigationAdministrador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  padding: 0 3em;
}

.menu-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    flex: 1; 
    text-align: center;
}

.menu-admin a {
  color: rgb(228, 164, 45);
  text-decoration: none;
  font-weight: 500;
  font-size: large;
}

.menu-admin a:hover {
    color: rgb(180, 130, 36);
    scale: calc(11.5rem);
}

.btn-cerrar-sesion {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn-cerrar-sesion:hover {
    background-color: #cc0000;
}

@media (max-width: 1060px) {
  .HeaderAdministrador {
    font-size: 8px;
    padding: 3px;
  }

  .navigationAdministrador {
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
  }

  .menu-admin {
    flex-direction: column;
    gap: 0.8rem;
  }
}
